@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@200');

body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/*section two slider section start   */
/* .header-area img {
   background-image: linear-gradient(rgba(0, 0, 0,1),rgba(0, 0, 0,1))!important;
} */
.custom-slide {
    margin-bottom: 230px;
}
.custom-slide h1 {
   font-size: 50px;
   word-spacing: 5px;
}
/*section two slider section start   */